@import './base.css';

#app {
  font-weight: normal;
  color: black;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(-28.51deg, #0a3766ff 0%, #000000ff 100%);
  /*font-family: 'Lato', sans-serif;*/
  font-display: swap;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

main {
  display: flex;
  height: 100%;
  padding: 1em;
}

footer {
  height: 15vh;
}
